services:
  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - ./YG-server/db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    env_file:
      - pg.env

  server:
    build: ./YG-server
    depends_on:
      - db
    ports:
      - "5000:5000"
    env_file:
      - ./YG-server/.env

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
      - client

  client:
    stdin_open: true
    depends_on:
      - server
    build:
      dockerfile: Dockerfile.dev
      context: ./yg-client
    ports:
      - "3000:3000"
    env_file:
      - ./yg-client/.env.local
      - ./yg-client/.env.development